*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/caches
/.idea/markdown-navigator
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
/.idea/markdown-navigator.xml
/.idea/runConfigurations.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
.DS_Store
/build
/captures
/.externalNativeBuild
/app/google-services.json
/.idea/deploymentTargetDropDown.xml
